.sc-player{
  width: 100%;
  position: relative;
  margin: 0;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */

.sc-player .sc-artwork-list{
  display: none;
}

.sc-player .sc-artwork-list li{
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active{
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 100%;
  height: 100%;
}

/* controls */

.sc-player .sc-controls{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 25px;
  z-index: 1;
}

.sc-player .sc-controls a{
  display: block;
  width: 40px;
  height: 40px;
}

.sc-player .sc-controls a.sc-play, .sc-player .sc-controls a.sc-pause{
  text-indent: -3000px;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* scrubber */

.sc-scrubber {
  position: absolute;
  top: 25px;
  height: 40px;
  width: 100%;
  display: block;
  left: 0;
  padding-left: 39px;

}

.sc-scrubber .sc-time-span{
  height: 40px;
  position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  height: 40px;
  position: absolute;
  top: 0;
  width: 0;
  z-index: -1;
  -webkit-transition: width 0.1s linear;
}

.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 0;
  bottom: 40px;
}

.sc-scrubber .sc-waveform-container {
  display: block;
}

/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist{
  position: relative;
  padding-top: 40px;
  max-width: 100%;
  overflow: hidden;
}

.sc-player ol.sc-trackslist.single{
  display: none;
}

.sc-player ol.sc-trackslist li {
  font-weight: normal;
  cursor: pointer;
  list-style: none;
}

.sc-player ol.sc-trackslist li.active {
  font-weight: bold;
}

/* Track info*/

.sc-player .sc-info{
  position: relative;
}

.sc-player .sc-info h3 {
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
}

.sc-player .sc-info h4 {
  display: none;
}

.sc-player .sc-info p {
  display: none;
}

.sc-player .sc-info .sc-info-close {
  display: none;
}

.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  display: none;
}

/* utilities */

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
